// White, blacks and grays
$almost_black: #333
$almost_white: #fdfdfd
$dirty_white: #f0f0f0
$invisible_gray: #eee
$dark_gray: #C9C9C9
$gray_for_texts: #666
$gray_for_big_texts: #888

// Other colors
$crowdboarding: #AEF60C
$dark_crowdboarding:#8bad2b
$countercrowdboarding: #b10109
$light_countercrowdboarding:#d81107
$crowdboarding_blue: #3E74E0
$dark_crowdboarding_blue: #2c5bb8

$link_color: #3E74E0