// White, blacks and grays
$almost_black: #333
$almost_white: #fdfdfd
$dirty_white: #f0f0f0
$invisible_gray: #eee
$dark_gray: #C9C9C9

// Other colors
$crowdboarding: #84E4FB
$dark_crowdboarding:#00BBC7

$link_color: #0956b5