.bundle
db/*.sqlite3
log/*.log
public/log/*.log
tmp/
public/stylesheets/grid.css
public/stylesheets/support/colors.css
public/stylesheets/text.css
public/stylesheets/event.css
public/stylesheets/devise.css
public/stylesheets/support/mixins.css
public/stylesheets/formtastic_changes.css
public/stylesheets/user.css
public/stylesheets/home.css
public/stylesheets/authentication.css
public/images/users/avatars
db/schema.rb