.comment
	.user
		=image_tag comment.user.avatar(:medium), :width => 60, :height => 60
	.text
		.text_content
			%span.user_name=link_to comment.user.print_name, user_path(comment.user)
			%span.date=comment.created_at
			=simple_format(comment.body)
