%h3 Or Signin / Signup through one of these services:
%a{:href => "/auth/twitter", :class => "auth_provider"}
	= image_tag "omniauth/twitter_64.png", :size => "64x64", :alt => "Twitter"
%a{:href => "/auth/facebook", :class => "auth_provider"}
	= image_tag "omniauth/facebook_64.png", :size => "64x64", :alt => "Facebook"
.clear