/* line 13, ../../app/stylesheets/event.sass */
.event {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0px;
}
/* line 35, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_1, .event .grid_2, .event .grid_3, .event .grid_4, .event .grid_5, .event .grid_6, .event .grid_7, .event .grid_8, .event .grid_9, .event .grid_10, .event .grid_11, .event .grid_12, .event .grid_13, .event .grid_14, .event .grid_15, .event .grid_16, .event .grid_17, .event .grid_18, .event .grid_19, .event .grid_20, .event .grid_21, .event .grid_22, .event .grid_23, .event .grid_24 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_1 {
  width: 20px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_2 {
  width: 60px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_3 {
  width: 100px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_4 {
  width: 140px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_5 {
  width: 180px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_6 {
  width: 220px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_7 {
  width: 260px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_8 {
  width: 300px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_9 {
  width: 340px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_10 {
  width: 380px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_11 {
  width: 420px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_12 {
  width: 460px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_13 {
  width: 500px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_14 {
  width: 540px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_15 {
  width: 580px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_16 {
  width: 620px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_17 {
  width: 660px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_18 {
  width: 700px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_19 {
  width: 740px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_20 {
  width: 780px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_21 {
  width: 820px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_22 {
  width: 860px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_23 {
  width: 900px;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .grid_24 {
  width: 940px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_1 {
  padding-left: 40px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_2 {
  padding-left: 80px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_3 {
  padding-left: 120px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_4 {
  padding-left: 160px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_5 {
  padding-left: 200px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_6 {
  padding-left: 240px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_7 {
  padding-left: 280px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_8 {
  padding-left: 320px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_9 {
  padding-left: 360px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_10 {
  padding-left: 400px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_11 {
  padding-left: 440px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_12 {
  padding-left: 480px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_13 {
  padding-left: 520px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_14 {
  padding-left: 560px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_15 {
  padding-left: 600px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_16 {
  padding-left: 640px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_17 {
  padding-left: 680px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_18 {
  padding-left: 720px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_19 {
  padding-left: 760px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_20 {
  padding-left: 800px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_21 {
  padding-left: 840px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_22 {
  padding-left: 880px;
}
/* line 46, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .prefix_23 {
  padding-left: 920px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_1 {
  padding-right: 40px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_2 {
  padding-right: 80px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_3 {
  padding-right: 120px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_4 {
  padding-right: 160px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_5 {
  padding-right: 200px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_6 {
  padding-right: 240px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_7 {
  padding-right: 280px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_8 {
  padding-right: 320px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_9 {
  padding-right: 360px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_10 {
  padding-right: 400px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_11 {
  padding-right: 440px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_12 {
  padding-right: 480px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_13 {
  padding-right: 520px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_14 {
  padding-right: 560px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_15 {
  padding-right: 600px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_16 {
  padding-right: 640px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_17 {
  padding-right: 680px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_18 {
  padding-right: 720px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_19 {
  padding-right: 760px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_20 {
  padding-right: 800px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_21 {
  padding-right: 840px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_22 {
  padding-right: 880px;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .suffix_23 {
  padding-right: 920px;
}
/* line 58, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .alpha {
  margin-left: 0;
}
/* line 60, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .omega {
  margin-right: 0;
}
/* line 81, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_1, .event .push_2, .event .push_3, .event .push_4, .event .push_5, .event .push_6, .event .push_7, .event .push_8, .event .push_9, .event .push_10, .event .push_11, .event .push_12, .event .push_13, .event .push_14, .event .push_15, .event .push_16, .event .push_17, .event .push_18, .event .push_19, .event .push_20, .event .push_21, .event .push_22, .event .push_23, .event .push_24,
.event .pull_1, .event .pull_2, .event .pull_3, .event .pull_4, .event .pull_5, .event .pull_6, .event .pull_7, .event .pull_8, .event .pull_9, .event .pull_10, .event .pull_11, .event .pull_12, .event .pull_13, .event .pull_14, .event .pull_15, .event .pull_16, .event .pull_17, .event .pull_18, .event .pull_19, .event .pull_20, .event .pull_21, .event .pull_22, .event .pull_23, .event .pull_24 {
  position: relative;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_1 {
  left: 40px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_1 {
  left: -40px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_2 {
  left: 80px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_2 {
  left: -80px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_3 {
  left: 120px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_3 {
  left: -120px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_4 {
  left: 160px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_4 {
  left: -160px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_5 {
  left: 200px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_5 {
  left: -200px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_6 {
  left: 240px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_6 {
  left: -240px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_7 {
  left: 280px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_7 {
  left: -280px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_8 {
  left: 320px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_8 {
  left: -320px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_9 {
  left: 360px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_9 {
  left: -360px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_10 {
  left: 400px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_10 {
  left: -400px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_11 {
  left: 440px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_11 {
  left: -440px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_12 {
  left: 480px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_12 {
  left: -480px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_13 {
  left: 520px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_13 {
  left: -520px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_14 {
  left: 560px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_14 {
  left: -560px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_15 {
  left: 600px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_15 {
  left: -600px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_16 {
  left: 640px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_16 {
  left: -640px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_17 {
  left: 680px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_17 {
  left: -680px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_18 {
  left: 720px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_18 {
  left: -720px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_19 {
  left: 760px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_19 {
  left: -760px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_20 {
  left: 800px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_20 {
  left: -800px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_21 {
  left: 840px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_21 {
  left: -840px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_22 {
  left: 880px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_22 {
  left: -880px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_23 {
  left: 920px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_23 {
  left: -920px;
}
/* line 85, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .push_24 {
  left: 960px;
}
/* line 87, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-960-plugin-0.10.2/stylesheets/960/_grid.sass */
.event .pull_24 {
  left: -960px;
}
/* line 20, ../../app/stylesheets/event.sass */
.event p {
  margin-bottom: 2px;
}
/* line 22, ../../app/stylesheets/event.sass */
.event h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 4px;
}
/* line 26, ../../app/stylesheets/event.sass */
.event img.map {
  padding: 0px 2px;
}
/* line 28, ../../app/stylesheets/event.sass */
.event .event_highlights {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
  margin-left: 0;
  margin-right: 0;
}
/* line 32, ../../app/stylesheets/event.sass */
.event .event_highlights .time_left {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  margin-left: 0;
}
/* line 35, ../../app/stylesheets/event.sass */
.event .event_highlights .assistants {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  margin-left: 0;
  margin-right: 0;
}
/* line 39, ../../app/stylesheets/event.sass */
.event .event_highlights .button {
  padding: 10px 5px;
  color: #fdfdfd;
  background-color: #333333;
  font-size: 0.9em;
  text-align: center;
}
/* line 43, ../../app/stylesheets/event.sass */
.event .event_highlights .button span {
  font-size: 1.8em;
  display: block;
}
/* line 46, ../../app/stylesheets/event.sass */
.event .event_info {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 540px;
  margin-right: 0;
}
