/* line 6, ../../app/stylesheets/home.sass */
.sidebar_content .block {
  padding: 10px 0px;
  border-bottom: 1px solid #c9c9c9;
}
/* line 9, ../../app/stylesheets/home.sass */
.sidebar_content .block img {
  margin: 0px;
  padding: 0px;
}
/* line 12, ../../app/stylesheets/home.sass */
.sidebar_content .block ul {
  margin-bottom: 5px;
}
/* line 14, ../../app/stylesheets/home.sass */
.sidebar_content .block ul li {
  margin-left: 20px;
}
/* line 16, ../../app/stylesheets/home.sass */
.sidebar_content .block .see_all {
  text-align: right;
}
/* line 20, ../../app/stylesheets/home.sass */
.sidebar_content .block p {
  margin: 0px;
  font-size: 1.1em;
  color: #333333;
}
/* line 24, ../../app/stylesheets/home.sass */
.sidebar_content .block .indent {
  margin-left: 20px;
}
/* line 26, ../../app/stylesheets/home.sass */
.sidebar_content .first_block {
  padding-top: 0px !important;
}
/* line 28, ../../app/stylesheets/home.sass */
.sidebar_content .last_block {
  border-bottom: none !important;
}
