- content_for :sidebar_left do
	=render :partial => "users/sidebar"

.user_profile
	%h2 
		=raw("#{@user.nickname} <span>#{@user.name}</span>") 

	-if @user.bio.present?
		%h3 Bio
		%p=@user.bio

	- if @user.quiver.present?
		%h3 Quiver
		%p=@user.quiver

