#wrapper_helmet
	#helmet
#wrapper_footer
	#footer
		.section
			.footer_title
				Languages
			.footer_options
				%ul
					%li=link_to "Español", change_local_path("es")
					%li=link_to "English", change_local_path("en")
		.section
			.footer_title
				Web
			.footer_options
				%ul
					%li= link_to 'about', about_path
					%li= link_to 'contact', contact_path
					%li= link_to "Help", '#'
					%li= link_to 'riders', users_path
		.section
			.footer_title
				Follow Us
			.footer_options
				%ul
					%li=link_to "Blog", '#'
					%li=link_to "Twitter (ES)", '#'
					%li=link_to "Twitter (EN)", '#'
					%li=link_to "Facebook", '#'
		
:javascript
	$(document).ready(function() {
		$("div#helmet").mouseover(function() {
			$(this).css('background-position', '0 -123px');
		}).mouseout(function() {
			$(this).css('background-position', '0 0');
		});
	});