.info_block.info_block_alpha
	.info_block_content
		%h2.green_bottom
			=t('info.header_1')
		%p
			=t('info.text_1')
.info_block
	.info_block_content
		%h2.black_bottom
			=t('info.header_2')
		%p
			=t('info.text_2')
.info_block.info_block_omega
	.info_block_content
		%h2.red_bottom
			=t('info.header_3')
		%p
			=t('info.text_3')
