.info_block.info_block_alpha
	.info_block_content
		%h2.green_bottom
			Piece of cake
		%p
			Create your event in 5 minutes and start inviting your friends
.info_block
	.info_block_content
		%h2.black_bottom
			Join others
		%p
			Assist other events near you and meet other riders. Slalom-type? Filter them!
.info_block.info_block_omega
	.info_block_content
		%h2.red_bottom
			Awesome features
		%p
			Check the upcoming weather for the event, comment with the assistants, 
