.splash_image
	= image_tag 'splash.png'
.splash_text
	%span.title
		= sanitize(t('header.title'))
	%span.subtitle
		= t('header.subtitle')
	%span.join
		%p=link_to "Join now »", new_user_registration_path