.events
	.event
		.event_highlights
			.time_left.button
				%span=event.time_left
				days left
			.assistants.button
				%span=event.users_count
				assistans
		.event_info
			%h3=link_to event.name, event_path(event)
			%p.address=event.address
			%p.starts_at=event.starts_at
