.event.show
	%h2=@event.name
	.event_info
		%p.address=@event.address
		%p.starts_at=@event.starts_at
	#map_wrapper
		#map
	- if @event.description
		%h3 Description
		=simple_format(sanitize(@event.description) )
- content_for :sidebar do
	#sidebar.event
		.sidebar_content
			.event_highlights
				.event_highlight.left
					days left
					%span=@event.time_left
				.event_highlight.right
					assistans
					%span=@event.users_count
			.event_highlights
				.event_highlight.left= image_tag "icons/weather/sun.png"
				.event_highlight
					%span.temp 30&deg;
					sunny
:javascript
	$(document).ready(function(){
		load_google_maps();
	});