.event.show
	%h2=@event.name
	.event_info
		%p.address
			=@event.address
			=display_location_info(@event.city)
		%p.starts_at=@event.starts_at
	= gmaps("markers" => {"data" => @json}, "map_options" => {"processing" => "json", "auto_adjust" => true, "auto_zoom" => false, "zoom" => 16, "container_id" => "map_wrapper", "id" => "map"})
	- if @event.description
		%h3 Description
		=simple_format(sanitize(@event.description) )
- content_for :sidebar_right do
	#sidebar.event
		.sidebar_content
			.event_highlights
				.event_highlight.left
					=distance_of_time_in_short_words(@event.starts_at)
				.event_highlight.right
					assistans
					%span=@event.users_count
			.event_highlights
				.event_highlight.left= image_tag "icons/weather/sun.png"
				.event_highlight
					%span.temp 30&deg;
					sunny